.songBar {
    background: #181818;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100px;
    align-items: center;
    position: relative;
}

/* left */

.left_side {
    margin-left: 30px;
    min-width: 170px;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
}

.img_cont {
    height: 70px;
    width: 70px;
}

.song_img {
    height: 70px;
    width: 70px;
}

.name_title_cont {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: space-between;
}

.title {
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 10px;
}

.name {
    color: #FFFFFF;
    margin-bottom: 10px;
}

/* middle */

.middle_side {
    min-width: 170px;
    position: absolute;
    margin-left: 30%;
    width: 40%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.btn_cont {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
    width: 240px;
}

.btn_cont button {
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
}

/* play songs in random order button  */

.btn_random {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.image_random {
    height: 31px;
}
/* back button */

.btn_back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    rotate: 180deg;
    background: none;
}

.btn_back:hover .div_square {
    background-color: #FFFFFF;
}

.btn_back:hover .div_triangle {
    border-left: 1.16rem solid #FFFFFF;
}

/* play-pause button */

.btn_play_pause {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.pause {
    width: 0;
    height: 0;
    border-top: 0.7rem solid transparent;
    border-left: 1.16rem solid #000000;
    border-bottom: 0.7rem solid transparent;
    margin-left: 0.24rem;
}

.played {
    width: 18px;
    height: 22px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.played div {
    width: 8px;
    height: 100%;
    background: #FFFFFF;
}

/* forawrd button */

.btn_forward {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background: none;
}

.div_triangle {
    height: 0;
    width: 0;
    border-top: 0.7rem solid transparent;
    border-left: 1.16rem solid #BABABA;
    border-bottom: 0.7rem solid transparent;
}

.div_square {
    width: 4px;
    height: 20px;
    background-color: #BABABA;
    position: absolute;
    margin-left: 15px;
}

.btn_forward:hover .div_square {
    background-color: #FFFFFF;
}

.btn_forward:hover .div_triangle {
    border-left: 1.16rem solid #FFFFFF;
}

/* circle list or circle 1 song button */

.btn_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.image_repeat {
    height: 25px;
}

/* time bar */

.timeBar {
    height: 5px;
    background-color: #5E5E5E;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.listeningTime {
    background-color: #FFFFFF;
    height: 100%;
    border-radius: 5px;
    width: 0%;
}

/* right */

.right_side {
    margin-right: 30px;
    min-width: 170px;
    justify-content: flex-end;
    display: flex;
    position: absolute;
    right: 0;
}

.volume_bar {
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: #5E5E5E;
}

.current_volume {
    height: 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
}