.songBar {
    background: pink;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 75px;
    justify-content: center;
}

.btn {
    background: #171717;
    color: wheat;
}

.btn:hover {
    background: white;
    color: #171717;
}